<h2>Por Capital</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- Search Box -->
    <shared-search-box
      (onValue)="searchByCapital($event)"
      [initialValue]="capitalValue"
      placeholder="Ingrese su búsqueda ..."
    ></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- Tabla de resultados -->
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
